{block content}


<h1 n:block="title">{$post->title}</h1>

<p>{$post->content}</p>

{dump $post->id}
    <a class="tlacitko" href={plink Edit:edit $post->id} n:if="$user->isLoggedIn()">Upravit článek</a>


<p class="datum">{$post->created_at|date:'j F, Y'}</p>


<h2>Vložte nový komentář</h2>

{control commentForm}


<h3>Komentáře</h3>

{foreach $comments as $comment}

    <p><b><a href="mailto:{$comment->email}" n:tag-if="$comment->email">
        {$comment->name}
    </a></b> napsal: </p>
    <p>{$comment->content}</p>

{/foreach}



